<div id="aboutContainer" class="hiddenElement">
    <div class="aboutWrapper">
        <div class="aboutContent">
            <div class="aboutContent">
                <div class="aboutContentBody">
                    <h3>About our client</h3>
                    <p>Crystal Client is a free mod-pack with the focus on improving the experience for you, the players. Our client offers every essential mod that will completely change your experience in-game. Every mod on our client has been cleaned up, optimized ready for the user with a major boost in performance compared to regular usage. We release updates frequently and always post our changelogs within the client news, or on our discord. We are passionate on creating the best experience for the users. Please join our discord for up-to-date announcements and support!</p>
                </div>
            </div>
        </div>

        <div class="aboutDiscordSidebar">
            <iframe src="https://discord.com/widget?id=735470415211790418&amp;theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>