<div id="aboutContainer" class="hiddenElement">
    <div class="aboutWrapper">
        <div class="aboutContent">
            <div class="aboutContent">
                <div class="aboutContentBody">
                    <h3>À propos du client</h3>
                    <p>Arkemys Client est un client PvP créé par Zmytix et développé par RASTIQ. Arkemys cherche à augmenter vos FPS et à vous donner des informations sur vos parties. La V1 est sortie en été 2021 et la V2 en début 2022.</p>
                </div>
            </div>
        </div>

        <div class="aboutDiscordSidebar">
            <iframe src="https://discord.com/widget?id=883037750138400828&amp;theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>