<div id="landingContainer">
    <div id="footerItemContainer">
        <div id="newsContainer">
            <!-- News articles are inserted programmatically -->
        </div>

        <div id="footerContainer">
            <div id="servers">
                <!-- Servers are inserted programmatically -->
            </div>

            <a id="btnLaunch" draggable="false" href="#"><button>LANCER</button></a>
        </div>
    </div>
</div>