<div id="navigationBar">
    <img src="images/logo-1.png" id="brandLogo" draggable="false" alt="logo">
    <p id="brandName">
        <span>Arkemys</span>
        <span>Client</span>
    </p>
    <nav>
        <ul>
            <li><a id="btnHome" href="#" draggable="false">Menu</a></li>
            <li><a id="btnSettings" href="#" draggable="false">Réglages</a></li>
            <li><a id="btnPartners" href="#" draggable="false">Partenaires</a></li>
            <li><a id="btnAbout" href="#" draggable="false">À propos</a></li>
        </ul>
    </nav>
</div>