<div id="navigationBar">
    <img src="images/logo-1.png" id="brandLogo" draggable="false" alt="logo">
    <p id="brandName">
        <span>CRYSTAL</span>
        <span>CLIENT</span>
    </p>
    <nav>
        <ul>
            <li><a id="btnHome" href="#" draggable="false">Home</a></li>
            <li><a id="btnSettings" href="#" draggable="false">Settings</a></li>
            <li><a id="btnPartners" href="#" draggable="false">Partners</a></li>
            <li><a id="btnAbout" href="#" draggable="false">About</a></li>
        </ul>
    </nav>
    <a id="btnStore" draggable="false" href="#"><button>Store</button></a>
</div>