<div id="settingsContainer" class="hiddenElement">
    <div class="configElements">
        <div class="configElement">
            <div class="inputDescription">Mémoire <br> <small>Combien de mémoire nous pouvons prendre pour le jeu</small></div>
            <label for="inputMemory"></label>
            <div class="flex flex-1 flex-row items-center">
                <span id="memoryLabel">2048MB</span>
                <input type="range" min=2048 max=8192 step=512 id="inputMemory" configProp="java.memory">
            </div>
        </div>

        <div class="configElement">
            <div class="inputDescription">Résolution <br> <small>Résolution initiale de la fenêtre du jeu</small></div>
            <div class="inputScreenRes">
                <div>
                    <p>Largeur</p>
                    <label for="inputWidth"></label>
                    <input type="number" name="Largeur" id="inputWidth" configProp="game.resolution.width">
                </div>
                <div class="x">X</div>
                <div>
                    <p>Hauteur</p>
                    <label for="inputHeight"></label>
                    <input type="number" name="Hauteur" id="inputHeight" configProp="game.resolution.height">
                </div>
            </div>
        </div>

        <div class="configElement">
            <div class="inputDescription">Dossier de Minecraft<br> <small>Le dossier ou Minecraft se lancera</small></div>
            <label for="mcDataDirectory"></label>
            <input type="text" name="mcDataDirectory" id="mcDataDirectory" readonly="readonly" configProp="launcher.mcDataDir">
            <a class="btnChooseFile" draggable="false" href="#">
                <button>Choisir</button>
            </a>
        </div>

        <div class="configElement">
            <div class="inputDescription">Plein écran<br> <small>La fenêtre du jeu remplit l'écran</small></div>
            <label class="switch">
                <input type="checkbox" configProp="game.fullscreen">
                <div class="toggleSwitch round"></div>
            </label>
        </div>

        <div class="configElement">
            <div class="inputDescription">Launcher détaché<br> <small>Le jeu est attaché au launcher</small></div>
            <label class="switch">
                <input type="checkbox" configProp="game.detached">
                <div class="toggleSwitch round"></div>
            </label>
        </div>

        <div class="configElement">
            <div class="inputDescription">Cacher le launcher<br> <small>Cacher le launcher quand Arkemys est lancé</small></div>
            <label class="switch">
                <input type="checkbox" configProp="game.hideLauncher">
                <div class="toggleSwitch round"></div>
            </label>
        </div>
    </div>
</div>